.spinners
{
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    z-index: 999;
    background-image: linear-gradient(to right,#921,rgb(196, 166, 68));
  
}


body{
    overflow-x: hidden;
}
.wait{
    text-align: center;
}

/* for the logo  */


.banner{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logo{

    width: 200px;
    height: 250px;
    background-image: url(./../images/logo.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    border-bottom: 6px;
   
}


.textmahamna{
    margin-top: 47px;
    color: white;
}

.badge{
    background-image: linear-gradient(to right ,#925,rgb(240, 243, 73));
}

.banner{
    background-image: url('./../images/bg.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    /* height: 50vh; */
    /* display: block; */
    /* background-origin: content-box; */
  
}

@media (max-width : 600px){

    .banner{
        flex-direction: column;
        justify-content: center;
        align-items: center;

           
    }
    .textmahamna{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: darkred;
        margin-top: 10px;

    }

    .badge{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    

}

/* for the nav bar  */
.mahamnanav{
    position: sticky;
    top: 0px;
    z-index: 3;
    width: 100%;
}

/* for the preparation  */

.prepare{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
 
}

.sub{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* width: fit-content; */
    border-radius: 10px;
}

.txt{
    border-radius: 10px;
    width: 50%;
    height: 200px;
    margin: 8px;
    padding: 8px;
    font-weight: 800;
    letter-spacing: 4px;
    transition: 1s;
    /* justify-content: space-between; */
}

.txt:hover{
    transform: scale(0.8);
}

.aopen{
    display: flex;
    justify-content: center;
    align-items: center;
}


.fac{
    margin-top: 8px;
}

.facmem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    outline: none;
    width: fit-content;
    /* margin-left: 30px; */
}
.imgfac{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.fac{
    margin-top: 10px;
}

.card-body{
    margin-left: 10px;
}


.quaryform{

    box-shadow: 0 0 5px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

input {
    width: 100%;
}

iframe {
    width: 100%;
    height: 200px;
}

.fileimg{
    margin-top: 15px;
    text-align: center;
}

.fileimages{
    height: 400px;
    background-image: linear-gradient(to left , #256,#354);
   
  
    /* position: absolute; */
}


.exd {
    text-align: center;
    font-weight: 900;

    padding: 10px;
    /* top: 0px; */
}

.doubt{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.EXPFAC{
    height: 600px;
    background-image: linear-gradient(to left , yellow,rgb(64, 187, 160));
}

.imgFAC{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.EXPFC{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}