.spinners
{
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    z-index: 999;
    background-image: linear-gradient(to right,#921,rgb(196, 166, 68));
  
}

.wait{
    text-align: center;
}

/* for the logo  */


.banner{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logo{

    width: 200px;
    height: 250px;
    background-image: url(./../images/logo.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
   
}


.textmahamna{
    margin-top: 47px;
}

.badge{
    background-image: linear-gradient(to right ,#925,rgb(240, 243, 73));
}

@media (max-width : 600px){

    .banner{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .textmahamna{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: darkred;
        margin-top: 10px;

    }

    .badge{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    

}

/* for the nav bar  */
.mahamnanav{
    position: sticky;
    top: 0px;
    z-index: 3;
}

/* for the preparation  */

.prepare{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
 
}

.sub{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* width: fit-content; */
    border-radius: 10px;
}

.txt{
    border-radius: 10px;
    width: 50%;
    height: 200px;
    margin: 8px;
    padding: 8px;
    font-weight: 800;
    letter-spacing: 4px;
    transition: 1s;
    /* justify-content: space-between; */
}

.txt:hover{
    transform: scale(0.8);
}

.fac{
    margin-top: 8px;
}

.facmem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    outline: none;
}
.imgfac{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.fac{
    margin-top: 10px;
}

.card-body{
    margin-left: 10px;
}